/* цвет лого #2196F3 #000000 */
/*  цвет заголовков #212121 */
/* дополнительний цвет текста #FFFFFF */
/* основной текст  #757575 */
/* текст контактов rgba(255, 255, 255, 0.6) */
/* рамка хедера #ececec */
/* рамка карток в портфоліо #EEEEEE */
/* Колір іконок звичайний #AFB1B8 */

/* Стили для index*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --accent-hover-color: #188ce8;
  --header-border-color: #ececec;
  --portfolio-cards-border: #eeeeee;
  --icon-current-color: #afb1b8;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  border-bottom: 1px solid var(--header-border-color);
}

.header-box {
  display: flex;
  align-items: center;
}

.nav-box {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-container .contact-list {
  display: flex;
  align-items: baseline;
  margin-left: auto;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Шапка */

.logo {
  display: block;
  color: #000000;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue,
.logo-blue {
  color: var(--accent-color);
}

.nav-link {
  display: flex;
  align-items: baseline;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.nav-link.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -3px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
  display: inline-block;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.contact-link:not(:last-child) {
  margin-right: 50px;
  margin-left: 330px;
}

.mail {
  display: inline-block;
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-size: contain;
}

.phone {
  display: inline-block;
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.nav-link.contact-link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.contact-link:hover,
.nav-link.contact-link:focus {
  color: var(--accent-color);
}

/* Меін контент */

/* Банер */

.container-box {
  padding-top: 94px;
  padding-bottom: 94px;
}

.baner {
  background-color: #2f303a;
}

.baner > .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  max-width: 1600px;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.baner-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  margin: 0 485px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.baner .baner-button:hover,
.baner-button:focus {
  background-color: var(--accent-hover-color);
}

/* Переваги */

.works-box {
  padding-bottom: 94px;
}

.benefits {
  background-color: #ffffff;
}

.section-box {
  display: flex;
}

.section-item {
  margin-right: 30px;
}

.section-box > .section-item:last-child {
  margin-right: 0px;
}

.benefits-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .benefits-icon-box:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
} */

.portfolio-item {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-cards .portfolio-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-border-box {
  padding: 20px 24px;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-text {
  line-height: 1.71;
  margin-top: 10px;
  width: 270px;
}

/* Чим ми займаємось */

.label-box {
  position: relative;
}

.label {
  position: absolute;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
}

/* Наша команда */

.team {
  background-color: var(--primary-background-color);
}

.team .portfolio-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}

.team-border-box {
  background-color: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.border-box {
  border-right: 1px solid var(--portfolio-cards-border);
  border-bottom: 1px solid var(--portfolio-cards-border);
  border-left: 1px solid var(--portfolio-cards-border);
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-current-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials-icon {
  fill: currentColor;
}

/* Постійні клієнти */

.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-current-color);
  border: 1px solid var(--icon-current-color);
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
  background-size: contain;
}

/* Футер */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  color: var(--primary-white-color);
  padding: 0;
  margin: 0;
}

.address {
  margin-top: 20px;
}

.address .address-link {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.address-item {
  margin-top: 9px;
}

.footer .contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.footer-socials {
  margin-left: 70px;
}

.footer-title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .socials {
  margin-top: 20px;
}

.footer .socials-link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
  margin-right: auto;
}

.form-title {
  display: block;
  margin-bottom: 20px;
}

.form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}

.btn-txt {
  margin-right: 10px;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
}

.close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-btn,
.modal-close-btn:focus .close-btn {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-label:last-of-type {
  margin-bottom: 20px;
}

.modal-form-input {
  height: 40px;
  margin-top: 4px;
  padding-left: 41px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus-within {
  border: 1px solid var(--accent-color);
}

.textarea-input {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.textarea-input::placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 29px);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-icon,
.modal-form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-agreement-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-agreement {
  display: flex;
  align-items: center;
}

.checkbox-txt {
  line-height: 1.71;
}

.checkbox-link {
  line-height: 1.71;
  color: var(--accent-color);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:focus {
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
}

.checkbox-icon {
  fill: var(--primary-white-color);
}

.checkbox:checked + .modal-checkbox {
  background-color: var(--accent-color);
}

.send-btn {
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-hover-color);
}

/* Стили для портфолио */

.portfolio-box {
  padding-bottom: 94px;
  padding-top: 94px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list {
  margin-left: 8px;
}

.filter-buttons .btn-list:first-child {
  margin-left: 0;
}

.filter-button {
  font-family: inherit;
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filter-buttons .filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards .item:hover,
.portfolio-cards .item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(160%);
}

.item:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
}

.overlay-txt {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.item {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title {
  margin-bottom: 4px;
}

.portfolio-cards .card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
