$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$primaryBackgroundColor: #f5f4fa;
$accentHoverColor: #188ce8;
$headerBorderColor: #ececec;
$portfolioCardsBorder: #eeeeee;
$iconCurrentColor: #afb1b8;
$secondaryBackgroundColor: #2f303a;

$font-body: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;